<%- include('header') -%>
    <title>Flashfotografy</title>
</head>
<body>
    <h1>Flashfotografy</h1>
    <p>Administrador</p>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listado de Productos</h5>
              <p class="card-text">Observar el listado completo de los productos</p>
              <a href="/productos" class="btn btn-primary">productos</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Agregar nuevo producto</h5>
              <p class="card-text">Añadir nuevos productos a la tabla de la tienda</p>
              <a href="/prdagg" class="btn btn-primary">Comenzar!!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lista de Categorias</h5>
              <p class="card-text">listado</p>
              <a href="/categorias" class="btn btn-primary">Visualizar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Agregar nueva categoria</h5>
              <p class="card-text">Añadir nueva categorias</p>
              <a href="/ctgagg" class="btn btn-primary">Comenzar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listado de Imagenes</h5>
              <p class="card-text">Observar el listado completo de las imagenes que se vayan ingresando</p>
              <a href="/imagenes" class="btn btn-primary">Visualizar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Agregar nueva imagen</h5>
              <p class="card-text">Añadir nuevas imagenes a la tabla de la tienda</p>
              <a href="/imgagg" class="btn btn-primary">Comenzar!!</a>
            </div>
          </div>
        </div>
      </div>


</body>
</html>

<%- include('footer') -%>