<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calificar Producto</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #3e09a1;
    }

    .container {
      width: 410px;
      height: 125%;
      padding: 20px;
      background-color: rgb(57, 127, 173);
      border: 2px solid rgb(40, 14, 185);
      border-radius: 5px;
      text-align: center;
    }

    h2 {
      color: white;
    }

    h3 {
      margin-top: 0;
      font-size: 24px;
      color: orangered;
      font-weight: bold;
    }

    h4 {
      border: 2px solid orangered;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }

    img {
      max-width: 45%;
      margin: 10px 0;
    }

    button {
      padding: 10px;
      margin-top: 10px;
      background-color: orangered;
      color: white;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
    }

    button:hover {
      background-color: darkorange;
    }

    a {
      padding: 10px;
      margin-top: 10px;
      background-color: rgb(250, 213, 200);
      color: black;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
    }

    .adjust {
      max-width: 90%;
      height: 70%;
      overflow: auto;
    }

    footer {
      width: 395px;
      margin-top: 10px;
      text-align: center;
    }

    address {
      font-family: 'Times New Roman';
    }
  </style>


</head>

<body>
  <div class="adjust">
    <div class="container">

      <div class="header">
        <h2>Calificacion del Producto</h2>
        <hr>
      </div>

      <div class="form-control">
        <img src="<%= producto.url %>" class="imagen-producto">
        <form action="/calificacion" method="post">
          <hr>
      </div>

      <div class="form-control">
        <h4 for="nombre">Calificacion del Producto:</h4>
        <input type="text" name="nombre" id="nombre" value=" <%= producto.nombre %>" readonly>
        <h5>Identificación:</h5><input type="text" name="producto_id" id="producto_id" value="<%= producto.id %>" readonly>
        <hr>
      </div>

      <div class="form-control">
        <h4 for="Calificar">¿Que tan sactifactorio ha sido el Uso del Producto?</h4>
        <input type="range" name="puntos" id="puntos" value="5" min="1" max="5" onInput="this.nextElementSibling.value = this.value">
        <output>5</output>

        <div class="col-form-label col-sm-15">
          <button type="submit" class="btn btn-primary">Calificar</button>
          <a class="btn btn-outline-dark cancel" href="/productos-comprados">Cancelar</a>
        </div>
      </div>
      </form>
      <%- include('footer') -%>
    </div>
  </div>
</body>

</html>