<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eliminar Categoria</title>
  <style>
    body {
      background-color: #291d1d;
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
    }

    .container {
      max-width: 400px;
      padding: 20px;
      background-color: rgb(21, 125, 194);
      border: 2px solid rgb(67, 24, 224);
      border-radius: 5px;
      text-align: center;
    }

    h3 {
      margin-top: 0;
      font-size: 24px;
      color: orangered;
      font-weight: bold;
    }

    img {
      max-width: 100%;
      margin: 10px 0;
    }

    button {
      padding: 10px 20px;
      background-color: orangered;
      color: white;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
    }

    a{
      background-color: rgb(250, 213, 200);
      padding: 10px 20px;
      color: black;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
    }

    button:hover {
      background-color: darkorange;
    }

    h4 {
      border: 2px solid orangered;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }
    footer {
      width: 395px;
      margin-top: 10px;
      text-align: center;
    }

    address {
      font-family: 'Times New Roman';
    }
  </style>

</head>

<body>
  <div class="container">
    <h3><span style="background-color: rgb(8, 91, 158);">¿Está seguro de eliminar esta categoria?</span></h3>
    <form action="/deletectg/<%= categorias.id %>" method="get">
      <label class="col-form-label col-sm-2" for="nombre">Nombre</label>
      <h4><%= categorias.nombre %></h4>

      <button type="submit" class="btn btn-primary">Eliminar Categoria</button>
      <a class="btn btn-outline-dark cancel" href="/categorias">Cancelar</a>
    </form>
    <%- include('footer') -%>
  </div>
</body>

</html>

