<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Inicio de Sesion</title>
</head>

<body>
  <form class="container" name="formulario" action="/login" method="post">

    <div class="container">
      <div class="backbox">
        <div class="loginMsg">
          <div class="textcontent">
            <h2 aling="top">Flashfotografy</h2>
            <p class="title">Presentacion</p>
            <p>José Galindez.</p>
            <p> C.I:30016640</p>
          </div>
        </div>
      </div>
    </div>

    <!-- backbox -->


    <div class="frontbox">
      <div class="login">

        <h2>Iniciar Seccion</h2>
        <div class="inputbox">
          <label for="email">Email</label>
          <input type="email" name="user" id="user" maxlength="20" placeholder="Ingrese su correo electronico" required>
          <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" maxlength="10" placeholder="Ingrese la Contraseña" required>
        </div>
        <button>LOG IN</button>
        <a class="btn btn-outline-dark cancel" href="/categorias">Volver</a>
      </div>

    </div>
    <!-- frontbox -->
  </form>
</body>

</html>