<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <Style>
    @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

    * {
      box-sizing: border-box;
    }

    body {
      background-color: #3e0e8d;
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
    }

    .container {
      background-color: rgb(182, 136, 122);
      border-radius: 10px;
      box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.18);
      overflow: hidden visible;
      width: 520px;
      height: 480px;
      max-width: 100%;
    }

    .header {
      border-bottom: 1px solid #5e7a94;
      background-color: rgb(58, 45, 88);
      padding: 20px 40px;
    }

    .header h2 {
      margin: 0;
      color: rgb(218, 90, 168);
    }

    .form {
      padding: 30px 40px;
      font-weight: 500;
      text-align: center;
      margin-top: 5px;
      color: #000000;
    }

	.form-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
    }

    .form-control label {
      display: inline-block;
      margin-bottom: 5px;
    }

    .form-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }

    .form-control input:focus {
      outline: 0;
      border-color: #5a5959;
    }

    .form-control.success input {
      border-color: #2ecc71;
    }

    .form-control.error input {
      border-color: #e74c3c;
    }

    .form-control i {
      visibility: hidden;
      position: absolute;
      top: 40px;
      right: 10px;
    }

    .form-control.success i.fa-check-circle {
      color: #2ecc71;
      visibility: visible;
    }

    .form-control.error i.fa-exclamation-circle {
      color: #dd64c9;
      visibility: visible;
    }

    .form-control small {
      color: #ce69a7;
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
    }

    .form-control.error small {
      visibility: visible;
    }

    .form button {
      background-color: rgb(255, 102, 46);
      border: 2px solid rgb(28, 16, 70);
      border-radius: 4px;
      color: #fff;
      display: block;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      width: 100%;
      cursor: pointer;
      transition: 0.6s;
    }

    .form a{
      background-color: rgb(200, 226, 250);
      border: 2px solid rgb(37, 35, 43);
      border-radius: 4px;
      color: black;
      display: block;
      text-align: center;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
      width: 75%;
      cursor: pointer;
      transition: 0.6s;
    }

    .form a:hover{
      transform: scale(0.95);
      opacity: .8;
    }

    .form button:hover {
      transform: scale(0.95);
      opacity: .8;
    }

    input::placeholder {
      color: #6f7fa065;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      color: orangered;
      border: 1px solid orangered;
      outline: none;
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      color: white;
      background-color: orangered;
      border: none;
      outline: none;
      cursor: pointer;
    }

    button:hover {
      background-color: darkorange;
    }

    footer {
      width: 525px;
      text-align: center;
    }

    address {
      font-family: 'Times New Roman';
    }

    </Style>


</head>
<body>

    <div class="container">

		<div class="header">
			<h2>Respuesta de Seguridad</h2>
		</div>


	<form  action="/resclave" method="post" class="form">
		<div class="form-control">
			<label class="col-form-label col-sm-2" for="pregunta">Pregunta de seguridad</label>
			<input type="text" name="pregunta" id="pregunta" placeholder="Ingrese su pregunta de seguridad" required maxlength="160" minlength="4" >
		</div>

		<div class="form-control">
			<label class="col-form-label col-sm-2" for="respuesta">Respuesta de seguridad</label>
			<input type="text" name="respuesta" id="respuesta" placeholder="Ingrese su respuesta de seguridad" required maxlength="80" minlength="4">
		</div>
    
		<button type="submit" class="btn btn-primary">Buscar Correo</button>
		<a class="btn btn-secondary" href="/loginclientes">Cancelar</a>
	</form>
	<%- include('footer') -%>
</div>

</body>
</html>