h1 {
  display: block;
  color: orangered;
  text-align: left;
  padding: 14px 16px;
  text-decoration: dotted;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  height: 1000vh;
  /* Ajusta la altura según tus necesidades */
  background-color: rgb(182, 136, 122);

}

.titulo {
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  /* Ajusta el margen inferior según tus necesidades */
}



.play {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}



table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

th {
  background-color: rgb(88, 56, 45);
}

tr {
  background-color: rgb(145, 81, 58);
}


/* estilos.css */

.imagen-producto {
  width: 100px;
  /* Ajusta el ancho deseado */
  height: 100px;
  /* Ajusta la altura deseada */
  object-fit: cover;
  /* Ajusta cómo se ajusta la imagen dentro del contenedor */
}

footer{
  width: 780px;
  border: solid 1px;
  border-color: rgb(70, 30, 16);
}

address{
  padding-top: 15px;
  font-family: 'Times New Roman';
  text-align: center;
}